<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Todo List</title>
  <link rel="stylesheet" href="../css/styles.css">
</head>

<body>
  <h1><%= kindOfDay%></h1>
  <ul>
    <!-- <li>Buy food</li>
    <li>Cook Food</li>
    <li>Eat Food</li> -->
    <!-- add new items with post request-->
    <!-- this causes to store different items inside only one list item -->
    <!-- <li>< newListItem ></li> -->
    <!-- loop through newListItems array, render new li for each list item -->
    <% for(let i = 0 ; i< newListItems.length ; i++){ %>
    <li><%= newListItems[i] %></li>
    <% }%>
  </ul>
  <!-- action home/root route -->
  <form class="" action="/" method="post">
    <input type="text" name="newItem">
    <button type="submit" name="button" value="SUBMIT">Add</button>
  </form>

</body>

</html>